---
layout: default
image: /images/tho.jpeg
---

<div class="home">

  <!-- <h1 class="page-heading">Communiques</h1> -->

  <ul class="post-list clearfix">
    {% for post in site.posts %}
      <li>
        <div class="contimg">
          <img height=236px width=236px src="{{ post.image | prepend: site.baseurl }}">
          <div class="overlay">
            <a class="overlaytxt" href="{{ post.url | prepend: site.baseurl }}" class="expand">{{ post.title }}</a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
