<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <i class="fas fa-at"></i>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% if site.bandcamp_username %}
            <li>
              <i class="fab fa-bandcamp"></i>
              <a href="https://{{ site.bandcamp_username }}.bandcamp.com"><span class="username">{{ site.bandcamp_username }}</span></a>
            </li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
