<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="p:domain_verify" content="675644fc3078f77e862ea6f40665f2a2"/>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  {% if page.date %}
    {% assign og_type = "music.album" %}
  {% else %}
    {% assign og_type = "website" %}
  {% endif %}

  {% assign seo_description = page.description | default: page.excerpt | default: site.description %}
  {% if seo_description %}
    {% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once %}
  {% endif %}

  <meta property="og:type" content="{{ og_type }}">
  <meta property="og:locale" content="en_GB">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
  <meta property="og:url" content="{{ site.url | append: page.url }}">
  <meta property="og:description" content="{{ seo_description }}">

  {% if page.image %}
    <meta property="og:image" content="{{ site.url | append: page.image }}">
  {% endif %}

  <meta name="twitter:site" content="@thehouseorgan">
  <meta name="twitter:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
  <meta name="twitter:description" content="{{ seo_description }}">
  <meta name="twitter:url" content="{{ site.url | append: page.url }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.url | append: page.image }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <link href="/open-iconic/font/css/open-iconic.css" rel="stylesheet">

</head>
