/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

.oi, .fas, .fab {
  color: $grey-color;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */

.svg-inline--fa {
  color: $grey-color;
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.icon--btsync {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: none;
        }
    }
}

.icon--bitcoin {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path#btc2 {
            fill: #fff;
        }
    }
}
/* ============================================================
  GLOBAL
============================================================ */
.post-list {
  padding-left: 15px;
}

.post-list li .contimg {
  position: relative;
  float: left;
  margin: 0px 0px 5px 5px;
  overflow: hidden;
}

.post-list li:nth-child(3n+3) .contimg {
  margin-right: 5px;
}

.post-list li:nth-child(3n+1) .contimg {
  margin-left: -15px;
}

.post-list li:nth-child(3n+2) .contimg {
  margin-right: 0;
}

.post-list li .contimg img {
  display: block;
  margin: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.8);
}

.contimg:hover .overlay {
  opacity: 1;
}

.overlaytxt {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-28%, -40%);
  -ms-transform: translate(-28%, -40%);
  text-align: center;
}

a.overlaytxt {
  color: white;
  text-decoration: none;

  &:visited {
    color: darken(white, 15%);
  }

  &:hover {
      color: white;
      text-decoration: underline;
  }
}



/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect-1 .img.hover .overlay {
  height: 100%;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.well {
    margin:1em;
    max-width: 704px;
    padding: 19px;
  	background-color:#f5f5f5;
  	border:1px solid #e3e3e3;
  	border-radius:4px;
}
.close {
	float:right;
	font-size:21px;
	font-weight:700;
	line-height:1;
	color:#000;
	text-shadow:0 1px 0 #fff;
	filter:alpha(opacity=20);
	opacity:.2
}
.close:focus,.close:hover {
	color:#000;
	text-decoration:none;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:.5
}

.panelwrap {
  margin: 0 auto;
}

.leftpanel {
  float: left;
  width: 300px;
  padding: 25px;
  border-right: 4px solid #e0e0e0;
}

.rightpanel {
  float:right;
  width: 300px;
  padding: 25px;
}

.post-stuff {
  float: right;
  width: 300px;
  padding-left: 25px;
}

.post-stuff-list {
  margin-top: 15px;
}

.post-stuff-list > h4 {
  margin-bottom: 0;
}
