---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">



  <div class="post-content" itemprop="articleBody">


    <div class="post-stuff">
      {% if page.embed %}<iframe style="border: 0; width: 300px; height: 420px;" src="{{ page.embed }}" seamless></iframe>{% endif %}
      <ul class="social-media-list post-stuff-list">
        {% if page.archive %}
        <li>
          <i class="fas fa-university"></i>
          <a href="{{ page.archive }}"><span class="username">Internet Archive</span></a>
        </li>
        {% endif %}

      {% if page.bandcamp %}
        <li>
          <i class="fab fa-bandcamp"></i>
          <a href="{{ page.bandcamp }}"><span class="username">Bandcamp</span></a>
        </li>
      {% endif %}

      {% if page.resonate %}
        <li>
          <span class="oi" data-glyph="audio"></span>
          <a href="{{ page.resonate }}"><span class="username">Res( )nate</span></a>
        </li>
      {% endif %}

      {% if page.download %}
        <li>
          <i class="fas fa-file-download"></i>
          <a href="{{ page.download }}"><span class="username">Download</span></a>
        </li>
      {% endif %}

      {% if page.spotify %}
        <li>
          <i class="fab fa-spotify"></i>
          <a href="{{ page.spotify }}"><span class="username">Spotify</span></a>
        </li>
      {% endif %}

      {% if page.tidal %}
        <li>
            <svg width="16" height="16" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill="#747474" d="M12.012 3.992L8.008 7.996 4.004 3.992 0 7.996 4.004 12l4.004-4.004L12.012 12l-4.004 4.004 4.004 4.004 4.004-4.004L12.012 12l4.004-4.004-4.004-4.004zM16.042 7.996l3.979-3.979L24 7.996l-3.979 3.979z"/>
            </svg>
          <a href="{{ page.tidal }}"><span class="username">Tidal</span></a>
        </li>
      {% endif %}

      {% if page.apple %}
        <li>
          <i class="fab fa-itunes"></i>
          <a href="{{ page.apple }}"><span class="username">Apple Music</span></a>
        </li>
      {% endif %}

      {% if page.cc %}
        <li>
          <i class="fab fa-creative-commons"></i>
          <a href="{{ page.cc-link }}">{{ page.cc }}</a>
        </li>
      {% endif %}
      </ul>
    </div>

    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta">{% if page.artist %}{{ page.artist }}{% endif %}</p>
    </header>
    {{ content }}
  </div>

</article>

{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Newer" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Newer" }}</a>
    {% endif %}
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Older" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Older" }}</a>
    {% endif %}
  </nav>
{% endif %}
